@charset "UTF-8";

html, body, h1, h2, h3, ul, li, a, p, header, button, div {
	padding: 0;
	margin: 0;
}

html {
	background-image: url("http://cdn1.wallpaperus.org/wallpapers/set1/43/1459419643-a-couple-bikes.jpg");
	background-size: cover;
}

body {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 40px;
}

h1 {
		position: relative;
		padding-bottom: 30px;
		font-size: 100px;
		font: bold italic 3em/1em Impact, Charcoal, sans-serif;
		color: #ff3300;
		text-shadow: 2px 3px 3px #0f0f0f;
		letter-spacing: -7px;
		-webkit-text-stroke: 1px white;
	}

.desc {
	text-align: center;
	font-family: Arial;
	font-size: 75%;
	font-variant: small-caps;
	padding: 10px 0px 0px 0px;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 10px;
	margin: 0px 0px 20px 0px;
	border-radius: 15px;
	font-family: 'Pacifico', cursive;
	font-size: 40px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 5px solid;
}

.small {
    font-size: 75%;
    width: 100px;
}

.medium {
    font-size: 100%;
}

.large {
    font-size: 200%;
    padding: 60px 150px;
}
