@charset "UTF-8";

html, body, h1, h2, h3, ul, li, a, p, header, button, div {
	padding: 0;
	margin: 0;
}

.class1 {
	background-color: #f0f0f0;
	color: white;
	padding: 10px 20px; 
}

body {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #f0f0f0;
	font-family: Helvetica, Arial, sans-seif;
	font-size: 20px;
}

li a {
	display: inline;
	font-variant: small-caps;
	font-weight: bold;
	margin-top: 10px;
}

aside {
	float: right;
	padding: 20px;
	margin-top: 10px;
}

footer {
	clear: both;
}