 html, body{
        height: 100%;
        margin: 0px;
        padding: 0px
}

#map {
	height: 100%;
	width: 75%;
	float: left;
    margin: 0px;
    padding: 0px
}

#directions {
	overflow: auto;
	width: 25%;
	float: right;
	color: #ffffff;
	overflow-y: auto;
	height: 100vh
}