 html, body{
        height: 100%;
        margin: 0px;
        padding: 0px
}

#map {
	height: 100%;
	width: 75%;
	float: right;
    margin: 0px;
    padding: 0px
}

#directions {
	background-color: black;
	width: 25%;
	height: 100%;
	float: left;
	color: #ffffff;
}